.pa-fixed-header {
  background-color: $light-color !important;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  -webkit-transition: background-color 1s ease-out;
  -moz-transition: background-color 1s ease-out;
  -o-transition: background-color 1s ease-out;
  transition: background-color 1s ease-out;

  -webkit-transition: box-shadow 1s ease-out;
  -moz-transition: box-shadow 1s ease-out;
  -o-transition: box-shadow 1s ease-out;
  transition: box-shadow 1s ease-out;
}
