//colors
$light-color: #fcfcff;
$dark-color: #302d3c;
$light-purple: #84809b;
$white: #fff;
$dark-orange: #bb2f62;
$soft-orange: #c66f5e;
$dark-purple: #4a00c7;
$soft-purple: #992fcb;
$blue: #0d8cff;
$yellow: #e1aa06;
$dark-yellow: #e1aa06;
$gray: #4d5974;
$lightgray: #e5e5e5;
$DarkBlue: hsl(240, 38%, 20%);
$GrayishBlue: hsl(240, 18%, 77%);
$Background: #ffffff;

$bezier: cubic-bezier(0.25, 0.8, 0.25, 1);
$gradient: linear-gradient(to left, #e1aa06, #de9312);
$debug: false;
//Font Size
$small: 10px;
$Medium: 17px;
$larg: 25px;
$xlarg: 60px;
$font-300: 300;
$font-500: 500;
$font-700: 700;
